.git
.gitignore
.env
.env.*
.vscode
.idea
__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyi
.pytest_cache
.mypy_cache
.venv
build
venv
logs
node_modules
frontend/.next
frontend/node_modules
frontend/tests
coverage
.DS_Store
Thumbs.db
